# Ignore application.properties for local secrets
src/main/resources/application.properties 

# Ignore all Maven/Java build output folders
**/target/ 

# Ignore node_modules for frontend dependencies
node_modules/ 